<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Foodfy - Receitas</title>
        <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/public/styles/main.css">
        <link rel="stylesheet" href="/public/styles/recipes.css">
        <link rel="stylesheet" href="/public/styles/modal.css">

    </head>

    <body>
        <div id="page-container">
            <div id="content-container">
                <header>
                    <a class="logo" href="/src/views/index.html">
                        <img class="foodfy-logo" src="/public/assets/logo.png" alt="Logo do Foodfy">
                        <img class="vegan-logo" src="/public/assets/vegan-logo.svg" alt="Logo versão Vegan">

                    </a>

                    <nav class="menu">
                        <a href="/src/views/about.html">Sobre</a>
                        <a class="current-page" href="#">Receitas</a>

                    </nav>

                </header>

                <main>
                    <div class="cards">
                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/07/satay-sweet-potato-curry.jpg?itok=bl5QzsfL" alt="Satay Sweet Potato Curry foto">

                            <div class="info">
                                <h3 class="recipe-name">Satay Sweet Potato Curry</h3>
                                <p class="recipe-author">por Elena Silcock</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2018/07/vegan-chilli.jpg?itok=llhQ6gn2" alt="Vegan Chili foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Chili</h3>
                                <p class="recipe-author">por Barney Desmazery</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/07/vegan-sausage-rolls.jpg?itok=qtu0l1Tf" alt="Vegan Sausage Rolls foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Sausage Rolls</h3>
                                <p class="recipe-author">por Esther Clark</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/05/vegan-cupcakes-.jpg?itok=jnVDE5QJ" alt="Vegan Cupcakes foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Cupcakes</h3>
                                <p class="recipe-author">por Anna Glover</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2018/08/brownies.jpg?itok=aevx5ab8" alt="Vegan Brownies foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Brownies</h3>
                                <p class="recipe-author" >por Cassie Best</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/11/vegan-meatballs.jpg?itok=j5Wxsl2F" alt="Vegan Meatballs foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Meatballs</h3>
                                <p class="recipe-author">por Esther Clark</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/10/vegan-spring-rolls.jpg?itok=IQV0JiZf" alt="Vegan Spring Rolls foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Spring Rolls</h3>
                                <p class="recipe-author">por Sophie Godwin</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2018/01/vegan-lemon-cake.jpg?itok=tqdHqOCe" alt="Vegan Lemon Cake foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Lemon Cake</h3>
                                <p class="recipe-author">por Katie Siddons</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2019/05/vegan-vanilla-ice-cream.jpg?itok=3Hwyo2yg" alt="Vegan Vanilla Ice Cream foto">

                            <div class="info">
                                <h3 class="recipe-name">Vegan Vanilla Ice Cream</h3>
                                <p class="recipe-author">por Anna Glover</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/03/miso-aubergines.jpg?itok=-6nSyDEM" alt="Miso Aubergines foto">

                            <div class="info">
                                <h3 class="recipe-name">Miso Aubergines</h3>
                                <p class="recipe-author">por Sophie Godwin</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/10/carrot-caraway-crackers.jpg?itok=4dE2cUyt" alt="Carrot & Caraway Crackers foto">

                            <div class="info">
                                <h3 class="recipe-name">Carrot & Caraway Crackers</h3>
                                <p class="recipe-author" >por Sophie Godwin</p>

                            </div>

                        </div>

                        <div class="card">
                            <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/falafel-burgers.jpg?itok=noSWh10_" alt="Falafel Burguers foto">

                            <div class="info">
                                <h3 class="recipe-name">Falafel Burguers</h3>
                                <p class="recipe-author">por Chelsie Collins</p>

                            </div>

                        </div>

                    </div>

                </main>

            </div>

            <footer>
                <p>Todos direitos reservados, receitas Foodfy Vegan.</p>

            </footer>

        </div>

        <div class="modal-overlay">
            <div class="modal mini">
                <div class="close-modal">
                    <i class="material-icons">close</i>

                </div>

                <div class="fullscreen-modal">
                    <i id="fullscreen-icon" class="material-icons">fullscreen</i>

                </div>

                <div class="modal-content">
                    <img src="" alt="">
                    <h2 class="modal-recipe-name"></h2>
                    <p class="modal-recipe-author"></p>

                </div>

            </div>

        </div>

        <script src="/public/scripts/modal.js"></script>

    </body>

</html>